
{% extends 'encyclopedia/layout.html'%}

{%block title%}
WiKi > Editing {{title}}
{%endblock%}

{%block body%}

<h2>Edit {{ title }}</h2>
<center>
<form method="POST">
    {%csrf_token%}

    <h5 class="edit-context">!!ATTENTION!! The content below is written in Markdown</h5>
    <textarea name="newcontent" class="form-control" autocomplete="off" rows="15" style="width: 80%;
                    margin-top: 10px;">{{content}}</textarea>
<input type="submit" value="Save" placeholder="Save" class="save btn btn-info">
    
</form>
</center>
{%endblock%}
